<label for="zone">Seleccionar Zona:</label>
<select id="zone" [(ngModel)]="zonaSeleccionada" (change)="onSelectZona()">
  <!-- Se iteran las zonas obtenidas de la API -->
  <option *ngFor="let zone of zonas" [value]="zone">{{ zone }}</option>
</select>

<div id="avg-zone">
  <div *ngIf="precioM2" id="precio-m2">
    <h3>Precio Promedio por m2:</h3>
    <p>{{ precioM2?.precioPromedioPorM2 | number:'1.2-2' }}</p>
  </div>
  <div *ngIf="promedioTiempoMercado" id="tiempo-mercado">
    <h3>Promedio Tiempo en Mercado:</h3>
    <p>{{ promedioTiempoMercado?.promedioDiasEnVenta }} Días</p>
  </div>
</div>
  <!-- informacion-zonas.component.html -->
<div id="pie-chart">
  <div id="piechart" style="width: 900px; height: 500px;"></div>
</div>
  
