<div class="persona-form-container">
    <h2>{{ isEditMode ? 'Editar Persona' : 'Crear Persona' }}</h2>
<form [formGroup]="personaForm" (ngSubmit)="onSubmit()">
    <div class="p-field">
      <label for="nombre" class="p-col-6">Nombre</label>
      <input id="nombre" pInputText formControlName="nombre" class="p-col-6" />
    </div>
  
    <div class="p-field">
      <label for="apellidoPaterno" class="p-col-6">Apellido Paterno</label>
      <input id="apellidoPaterno" pInputText formControlName="apellidoPaterno" class="p-col-6" />
    </div>
  
    <div class="p-field">
      <label for="apellidoMaterno" class="p-col-6">Apellido Materno</label>
      <input id="apellidoMaterno" pInputText formControlName="apellidoMaterno" class="p-col-6" />
    </div>
  
    <div class="p-field">
      <label for="ci" class="p-col-6">CI</label>
      <input id="ci" pInputText formControlName="ci" class="p-col-6" />
    </div>

    <!-- Dropdown para Roles -->
    <div class="p-field">
      <label for="rol" class="p-col-6">Rol</label>
      <p-dropdown 
        id="rol" 
        [options]="roles" 
        optionLabel="name" 
        optionValue="id" 
        formControlName="rol" 
        class="p-col-6">
      </p-dropdown>
    </div>

    <div class="p-field">
      <label for="wallet_address_ETH" class="p-col-6">Wallet address ETH</label>
      <input id="wallet_address_ETH" pInputText formControlName="wallet_address_ETH" class="p-col-6" />
    </div>
    
    <button pButton type="submit" label="Guardar"></button>
  </form>
</div>